html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-image: url('/image/tlo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
