@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Alcohol for everyone!</h1>
    <p>Learn about <a href="https://alkohol-online.pl/">the best alcohols</a>.</p>
    <p>The time on the server is @DateTime.Now</p>

</div>
